body{

  /* 1. Indica o caminho da imagem */
  background-image: url('istockphoto-469586955-170667a.jpg');

  /* 2. Impede que a imagem fique se repetindo em padrão de mosaico */
  background-repeat: no-repeat;

  /* 3. Faz a imagem cobrir a tela inteira sem esticar/deformar */
  background-size: cover;

  /* 4. Centraliza a imagem na tela */
  background-position: center;

  /* 5. Deixa a imagem fixa ao rolar a página (opcional) */
  background-attachment: fixed;

}