.conteiner{
    height: 400px ;
    width: 600 ;
    display: grid;
    border: 7px black grid;

    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: repeat(2, 1fr);
    justify-items:center;




}

/* justify-items:; (alinhamento mais axiss / horizontal) */
/* aling-items:; (alinhamento mais axiss / verticas) */
/* place-items => aling-items | justify-items | start start */
/* justify */
/* aling */
