
*{

font-size: 20px;

}

body{

    background-color: black;

}

p{

background-color: lightslategray;
color: white;

}

div{

font-size: 20px;

}

.unidade3{

/* font-size: 3cm; */
/* font-size: 2.5rem; */
font-size: 2rem;
}

.unidade1{

font-size: 25cm;
font-size: 25mm;
font-size: 25in;
font-size: 25pc;
font-size: 25pt;
font-size: 25px;

}

.unidade2{

font-size: 2rem;

}

ul{
    background-color: lightslategray;
    color: white;
    font-size: 10px;
}

li{
    background-color: lightslategray;
    color: white;
    font-size: 3cm;
}

.box1{

background-color: darkgreen;
height: 58vh;
width: 98vw;

}

/* .box2{



} */