*{

font-size: 20px;

}

body{

background-color: rgb(47, 16, 77);

}

h1{
    background-color: blueviolet;
    color: white;
    font-size: 2rem ;

}

/* h2{



} */
.tamanho_espesifico{

 background-color: blueviolet;
    color: white;
    font-size: 25px ;

}

p{

 background-color: blueviolet;
    color: white;

 }

.tamanhi_individual{
     background-color: blueviolet;
    color: white;
    font-size: 1.5em ;
}

/*
ul{



}

li{



} */
