.box1{

    border-top: 1px solid green ;
    border-right: 5xp double greenyellow;
    border-bottom: 1px solid yellowgreen;
    border-left: 5px dotted black;

    border-color: plum;
    border-style: double;

    height: 200px;
    width: 300px;
    border-radius: 100%;
    background-color: rgb(1, 34, 1);
}

.box2{
    border: 5px double purple;
    margin: 10px;
    height: 250px;
    width: 250px;
    background-color: chocolate;
    }